@model List<EntityLayer.Category>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Kategori
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        @foreach (var item in Model)
        {


            <a class="dropdown-item" href="/Home/Category_Makale/@item.CategoryID">@item.CategoryName</a>
        }
    </div>
</li>
