<ul class="navbar-nav">
    @if (User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Makale"
               asp-action="Index">Makale</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account"
               asp-action="LogOut">Logout</a>
        </li>
        <a asp-controller="User" asp-action="UserOp">
            <img src="~/UserImg/@await Component.InvokeAsync("GetUserimg") " class="circle-35">
        </a>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account"
               asp-action="Login">Login</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account"
               asp-action="Register">Register</a>
        </li>


    }

</ul>