
.
@{
    ViewData["Title"] = "Home Page";
}

@model List<EntityLayer.Makale>

<div class="page-container">
    <div class="page-content">

        <hr>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-6">
                    <div class="card text-center mb-5">
                        <div class="card-header p-0">
                            <div class="blog-media">
                                <img src="assets/imgs/blog-2.jpg" alt="" class="w-100">
                                <a href="#" class="badge badge-primary">#Placeat</a>
                            </div>
                        </div>
                        <div class="card-body px-0">
                            <h5 class="card-title mb-2">@item.MakaleBaşlik</h5>

                            <p class="my-2">@item.MakaleAciklama</p>
                        </div>

                        <div class="card-footer p-0 text-center">
                            <a href="/Home/MakaleDetail/@item.MakaleID" class="btn btn-outline-dark btn-sm">READ MORE</a>
                        </div>
                    </div>
                </div>
            }


        </div>

        <button class="btn btn-primary btn-block my-4">Load More Posts</button>
    </div>
</div>
