.
@{
    ViewData["Title"] = "Home Page";
    int sayac = 0;
}

@model List<EntityLayer.Makale>

<div class="page-container">
    <div class="page-content">
        <hr>
        <div class="row">

            @foreach (var item in Model)
            {
                if (sayac == 8) { break; }
                sayac++;
                <div class="col-lg-6">
                    <div class="card text-center mb-5">
                        <div class="card-header p-0">
                            <div class="blog-media">
                                <img src="~/MakaleImg/@item.MakaleResim" style="height:200px" alt="" class="w-100">

                            </div>
                        </div>
                        <div class="card-body px-0">
                            <h5 class="card-title mb-2">@item.MakaleBaşlik</h5>
                            @if (item.MakaleAciklama.Length >= 100)
                            {
                                <p class="my-2">@item.MakaleAciklama.Substring(0, 100)</p>
                            }
                            else
                            {
                                <p class="my-2">@item.MakaleAciklama</p>
                            }
                        </div>

                        <div class="card-footer p-0 text-center">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a href="/Home/MakaleDetail/@item.MakaleID" class="btn btn-outline-dark btn-sm">Devamını Oku</a>
                            }
                            else
                            {
                                <button onclick="myfunction()" class="btn btn-outline-dark btn-sm"> Devamını Oku</button>
                            }
                        </div>
                    </div>
                </div>
            }


        </div>


    </div>
</div>
<script>
    function myfunction() {

        alert("Lütfen Giriş Yapın!");

    }

</script>