@model List<EntityLayer.User>
@{
    ViewData["Title"] = "UserIndex";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="card-box mb-30">
    <div class="pd-20">
        <h4 class="text-blue h4">Data Table Simple</h4>
        <p class="mb-0">you can find more options <a class="text-primary" href="https://datatables.net/" target="_blank">Click Here</a></p>
    </div>
    <div class="pb-20">
        <table class="data-table table stripe hover nowrap">
            <thead>
                <tr>
                    <th class="table-plus datatable-nosort">ID</th>
                    <th>User Name</th>
                    <th>User Rol</th>
                    <th class="datatable-nosort">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="table-plus">@item.UserID</td>
                        <td>@item.KullaniciAdi</td>
                        <td>@item.role</td>
                        <td>
                            <div class="dropdown">
                                <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                    <i class="dw dw-more"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                    <a class="dropdown-item" href="/User/UserEdit/@item.UserID"><i class="dw dw-edit-2"></i> Edit</a>
                                    <a class="dropdown-item" href="/User/UserDelete/@item.UserID"><i class="dw dw-delete-3"></i> Delete</a>

                                </div>
                            </div>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
        <a href="/User/AddUser" class="btn-success">Add User</a>
    </div>
</div>

