@model List<EntityLayer.Makale>
@{
    ViewData["Title"] = "Index";
    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/AdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

}





<div class="card-box mb-30">
    <div class="pd-20">


    </div>
    <div class="pb-20">

        <table class="data-table table stripe hover nowrap">

            <br />
            <a href="/Makale/MakaleAdd" class="btn-success hover" style="float:right;margin-right:25px;margin-bottom:10px">Makale Ekle</a>
            <thead>
                <tr>
                    <th class="table-plus datatable-nosort">ID</th>
                    <th>Başlık</th>
                    <th>Açıklama</th>
                    <th>Category</th>
                    <th>Kullanıcı Adı</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="table-plus">@item.MakaleID</td>
                        <td>@item.MakaleBaşlik</td>

                        @if (item.MakaleAciklama.Length <= 30)
                        {
                            <td>@item.MakaleAciklama<a href="/Home/MakaleDetail/@item.MakaleID">...</a></td>
                        }
                        else
                        {
                            <td>@item.MakaleAciklama.Substring(0,30)<a href="/Home/MakaleDetail/@item.MakaleID">...</a></td>
                        }

                        @await Component.InvokeAsync("GetCategoryName", new { id = item.CategoryID })
                        @await Component.InvokeAsync("GetIDUserName", new { id = item.UserID })
                        <td>
                            <a class="dropdown-item" href="/Makale/MakaleEdit/@item.MakaleID"><i class="dw dw-edit-2"></i> Edit</a>
                        </td>
                        <td>
                            <a class="dropdown-item" href="/Makale/MakaleDelete/@item.MakaleID"><i class="dw dw-delete-3"></i> Delete</a>
                        </td>
                    </tr>
                }




            </tbody>
        </table>

    </div>
</div>




