@model EntityLayer.Makale
@{
    ViewData["Title"] = "MakaleAdd";
    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/AdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
<div class="pd-20 card-box mb-30">
    <form method="post">
        <div class="form-group row">
            <input type="hidden" asp-for="UserID"  />
            <input type="hidden" asp-for="MakaleID"  />
            <input type="hidden" asp-for="_Like"  />
            <input type="hidden" asp-for="MakaleStatus"  />
            <label class="col-sm-12 col-md-2 col-form-label">Makale Başlik</label>
            <div class="col-sm-12 col-md-10">
                <input class="form-control" type="text" asp-for="MakaleBaşlik"  >
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-12 col-md-2 col-form-label">Açıklama</label>
            <div class="col-sm-12 col-md-10">
                <input class="form-control" asp-for="MakaleAciklama" type="text">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-12 col-md-2 col-form-label">Category</label>
            <div class="col-sm-12 col-md-10">
                <select asp-for="CategoryID" class="custom-select col-12">

                    @await Component.InvokeAsync("CategoryList")


                </select>
            </div>
        </div>
        <button type="submit">Ekle</button>


    </form>

</div>




