@model  List<EntityLayer.Yorum>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}




<div class="card-box mb-30">
    <div class="pd-20">
        
        
    </div>
    <div class="pb-20">
        <table class="data-table table stripe hover nowrap">
            <thead>
                <tr>
                    <th class="table-plus datatable-nosort">ID</th>
                    <th>Text</th>
                    <th>Kullanıcı</th>
                    <th>Makale</th>
                    <th class="datatable-nosort">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td class="table-plus">@item.YorumID</td>
                    <td>@item.yorum_text</td>
                    @await Component.InvokeAsync("GetIDUserName", new { id = item.UserID })
                    @await Component.InvokeAsync("GetIDMakale", new { id = item.MakaleID })
                    <td>
                       
                          
                          
                                
                                <a class="dropdown-item" href="/Yorum/YorumDelete/@item.YorumID"><i class="dw dw-delete-3"></i> Delete</a>

                       
                    </td>
                </tr>
                }




            </tbody>
        </table>
    </div>
</div>





